**/pkg/
**/src/
**/libgnome-volume-control/
**/*.sig
**/*.tar.*
**/*.run

ffmpeg/ffmpeg
ffmpeg/nv-codec-headers

mt-git/mt/

# FIXME can't include this due to licensing purposes
ttf-ms-win10/

vibrant/vibrant/

vibrantlinux-git/vibrantlinux
