**/pkg/
**/src/
**/libgnome-volume-control/
**/*.sig
**/*.tar.*

gnome-control-center/gnome-control-center/

gnome-settings-daemon/gnome-settings-daemon/

gnome-shell/gnome-shell/

mpd-mpris-git/mpd-mpris/

mt-git/mt/

mutter/mutter/

nitter-rss-proxy-git/nitter-rss-proxy/

ratt-git/ratt/

# FIXME can't include this due to licensing purposes
ttf-ms-win10/

vibrant/vibrant/

vibrantlinux-git/vibrantlinux
