**/pkg/
**/src/
**/libgnome-volume-control/
**/*.sig
**/*.tar.*
**/*.run

ffmpeg/ffmpeg
ffmpeg/nv-codec-headers

gnome-shell/gnome-shell/

mutter/mutter/

qgnomeplatform-git/QGnomePlatform
qgnomeplatform-git/qgnomeplatform-qt5-git

# FIXME can't include this due to licensing purposes
ttf-ms-win10/

vibrant/vibrant/

vibrantlinux-git/vibrantlinux
